*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    width: 100%;
    height: 100vh;
    margin: 0;
}

header{
    background-color: #21181D;
    width: 100%;
}

#logo{
    margin-left: 10px;
    font-size: 30px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    color: white;
    height: 90px;
}

#buttons{
    width: 200px;
    display: flex;
    align-items: center;
    margin-right: 150px;
}

a{
    color: white;
    margin-right: 10px;
    font-family: sans-serif;
}

.cover{
    display: flex;
    width: 490px;
    height: 951px;
    word-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background-color: #E9443D;
    color: White;
}

h1{
    font-family: "Permanent Marker", cursive;
  font-size: 50px;
  font-style: normal;

}

h1, h2{
    margin-left: 20px;
    margin-right: 20px;
}

.coverphoto{
    display: flex;
    justify-content: end;
    width: 400px;
    height: 400px;
    margin-top: -55rem;
    margin-left: 750px; 
}

div{
    display: flex;
}

.play{
    width: 100px;
    height: 50px;
    margin-left: 900px;
    margin-top: 60px;
    background-color: #E9443D;
    font-family: sans-serif;
    font-style: normal;
    border-radius: 28px;
    border: none;
}